<div class="text-center">
  <ul class="list-inline">
    <li>
      <%= image_tag "romain.jpeg", class: "img-circle" %>
    </li>
    <li>
      <%= image_tag "anne.jpg", class: "img-circle" %>
    </li>
    <li>
      <%= image_tag "seb.jpg", class: "img-circle" %>
    </li>
  </ul>
</div>
